{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title> </title>
    <script src="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/js/medium-editor.min.js"></script>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/css/medium-editor.min.css"
        type="text/css" media="screen" charset="utf-8" />

    <link rel="stylesheet" href="{%  static  'css/base.css'  %}" />
</head>

<body>
    <nav>
        <img src="{% static 'logo.png' %}" id="logoImage" />
        <label class="logo"><a id="logo" href="{% url 'index' %}">White Ink</a></label>

        <ul>
            <li><a href="{% url 'about' %}">About</a></li>

            {% if user.is_authenticated %}

            <li><a href="{% url 'view_drafts' %}">Drafts</a></li>
            <li><a href="{% url 'view_published' %}">Published</a></li>
            <li><a href="{% url 'new_blog' %}">New Blog</a></li>
            <li><a href="{% url 'view_profile' %}">Profile</a></li>
            <li><a href="{% url 'edit_profile' %}">Edit Profile</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>

            {% else %}

            <li><a href="{% url 'login' %}">Login</a></li>
            <li><a href="{% url 'register' %}">Register</a></li>

            {% endif %}
        </ul>
    </nav>

    {% block content %} {% endblock content %}
</body>

</html>