{% extends "base.html" %} {% block content %}

<style>
  #line {
    border: 0;
    clear: both;
    display: block;
    background-color: rgb(34, 47, 62);
    height: 5px;
  }
  #link {
    color: green;
  }

  #title {
    font-size: 3vw;
    font-family: "Times New Roman", Times, serif;
    align-self: center;
    color: white;
  }

  #drafts {
    background-color: black;
    padding: 20px;
  }

  a {
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
  }
  a.active,
  a:hover {
    background: white;
    color: rgb(34, 47, 62);
    transition: 0.5s;
  }

  p {
    display: block;
    
    line-height: 30px;
  }
</style>

<div id="drafts">
  {% if blogs %} {% for blog in blogs %}
  <h1 id="title">{{ blog.title }}</h1>
  <!-- <p>{{ blog.content | truncatewords_html:30 | safe}}</p> -->
  <br />
  <p>
    <a href="{% url 'view_draft_blog' blog=blog.id slug=blog.slug %}">View</a>
    <a href="{% url "publish_blog" blog=blog.id %}">Publish</a>
    <a href="{% url 'edit_blog' blog=blog.id slug=blog.slug %}">Edit</a>
    <a href="{% url 'delete_blog' blog=blog.id published=0 %}">Delete</a>
  </p>
  <br />
  <hr id="line" />

  <br />
  <br />
  <br />
  {% endfor %} {% else %}

  <h1 id="title">Ugh! No drafts yet</h1>

  {% endif %}
</div>

{% endblock content %}
