{% extends "base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/edit_profile.css' %}">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>


<div class="flex-container">
    <div class="content-container">
        <div class="form-container">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <br />

                <div id="profile-container">
                    <image id="profileImage" src={{user.avatar}} />
                </div>


                <input id="imageUpload" type="file" name="avatar" placeholder="Photo" capture />

                <br />
                <input class="input" type="text" name="name" value={{user.email}} readonly placeholder="Name" />

                <br />
                <input class="input" type="text" name="name" value="{{user.name}}" required placeholder="Name" />

                <br />
                <input class="input" type="text" name="about" value="{{user.about}}" required placeholder="About" />

                <br />
                <input type="submit" value="Save" class="submit-btn" />
            </form>
        </div>
    </div>
</div>

<script>
    $("#profileImage").click(function (e) {
        $("#imageUpload").click();
    });

    function fasterPreview(uploader) {
        if (uploader.files && uploader.files[0]) {
            $("#profileImage").attr(
                "src",
                window.URL.createObjectURL(uploader.files[0])
            );
        }
    }

    $("#imageUpload").change(function () {
        fasterPreview(this);
    });
</script>

{% endblock content %}