{% extends "base.html" %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/login.css' %}">

<div class="flex-container">
    <div class="content-container">
        <div class="form-container">
            <form method="post">
                {% csrf_token %}
                <h1>Login</h1>

                <p class="error">{{ error }}</p>

                <br />
                <br />
                <br />
                <input class="input" type="email" name="email" value="" required placeholder="email" />
                <br />
                <br />
                <input class="input" type="password" name="password" value="" required placeholder="password" />
                <br /><br />
                <input type="submit" value="Submit" class="submit-btn" />
            </form>
        </div>
    </div>
</div>
{% endblock content %}