{% extends "base.html" %} {% block content %}

<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body:not(.user-is-tabbing) button:focus,
    body:not(.user-is-tabbing) input:focus,
    body:not(.user-is-tabbing) select:focus,
    body:not(.user-is-tabbing) textarea:focus {
        outline: none;
    }
    
    h1 {
        color: rgb(129, 212, 250);
        font-size: 35px;
        font-weight: 800;
        align-items: center;
        text-align: center;
    }
    
    .error {
        color: rgb(238, 12, 202);
        align-items: center;
        text-align: center;
        margin-top: 10px;
    }
    
    .flex-container {
        width: 100vw;
        margin-top: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .content-container {
        width: 500px;
        height: 350px;
    }
    
    .form-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 500px;
        height: 350px;
        margin-top: 5px;
        padding-top: 20px;
        border-radius: 12px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        background: #1f1f1f;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.199);
    }
    
    .subtitle {
        font-size: 16px;
        color: rgb(129, 212, 250);
    }
    
    input {
        padding: 5%;
        border: none;
        border-bottom: solid rgb(143, 143, 143) 1px;
        margin-bottom: 30px;
        background: none;
        height: 35px;
        width: 300px;
        color: rgb(129, 212, 250);
    }
    
    .submit-btn {
        cursor: pointer;
        border: none;
        border-radius: 8px;
        box-shadow: 2px 2px 7px #38d39f70;
        background: black;
        color: rgb(129, 212, 250);
        width: 80px;
        align-items: center;
        transition: all 1s;
    }
    
    .submit-btn:hover {
        color: rgb(129, 212, 250);
        box-shadow: none;
    }
</style>

<div class="flex-container">
    <div class="content-container">
        <div class="form-container">
            <form method="post">
                {% csrf_token %}
                <h1>Login</h1>

                <p class="error">{{ error }}</p>

                <br />
                <br />
                <br />
                <input class="input" type="email" name="email" value="" required placeholder="email" />
                <br />
                <br />
                <input class="input" type="password" name="password" value="" required placeholder="password" />
                <br /><br />
                <input type="submit" value="Submit" class="submit-btn" />
            </form>
        </div>
    </div>
</div>
{% endblock content %}