{% extends "base.html" %}
{% block content %}

<style>
    #comment-list {
        padding: 20px;
        background-color: white;
        color: rgb(34, 47, 62);
        border-radius: 20px;
        box-shadow: 2px 2px 7px rgb(34, 47, 62);
        margin: 15px;
        font-size: 20px;
    }

    #title {
        font-size: 3vw;
        font-family: "Times New Roman", Times, serif;
        align-self: center;
        color: white;
        padding: 20px;
    }
</style>


<div id="comments-list">
    {% if notifications %}
        {% for notification in notifications %}
            <div id='comment-list'>
                <p>{{notification}}</p>
                <br>
                <p style="float: right;">{{comment.timestamp}}</p>
            </div>
        {% endfor %}
    {% else %}

    <p id='title'>Ugh no new notifications!</p>
    {% endif %}
</div>


{% endblock content %}