{% extends "base.html" %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/published.css' %}">

<div id="drafts">
    {% if blogs %} {% for blog in blogs %}
    <h1 id="title">{{ blog.title }}</h1>
    <br />
    <p>
        <a href="{% url 'view_blog'  id=blog.id slug=blog.slug %}">View</a>
        <a href="{% url 'edit_blog' blog=blog.id slug=blog.slug %}">Edit</a>
        <a href="{% url 'delete_blog' blog=blog.id published=1 %}">Delete</a>
    </p>
    <br />
    <hr id="line" />

    <br />
    <br />
    <br />
    {% endfor %} {% else %}

    <h1 id="title">Ugh! No publish blogs</h1>

    {% endif %}
</div>

{% endblock content %}