{% extends "base.html" %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/registration.css' %}">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<div class="flex-container">
    <div class="content-container">
        <div class="form-container">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <h1>Register</h1>

                <br />

                <div id="profile-container">
                    <image id="profileImage" src="http://127.0.0.1:8000/media/default.jpg" />
                </div>
                <input id="imageUpload" type="file" name="avatar" placeholder="Photo" capture />

                <br />
                <input class="input" type="text" name="name" value="" required placeholder="Name" />

                <br />
                <input class="input" type="text" name="about" value="" required placeholder="About" />

                <br />
                <input class="input" type="email" name="email" value="" required placeholder="Email" />

                <br />
                <input class="input" type="password" name="password" value="" required placeholder="Password" />

                <br />
                <input class="input" type="password" name="confirm_password" value="" required
                    placeholder="Confirm Password" />

                <div class="custom-select" style="width: 200px">
                    <select name="gender">
                        <option value="M">Male</option>
                        <option value="F">Female</option>
                        <option value="O">Other</option>
                    </select>
                </div>

                <br />
                <input type="submit" value="Submit" class="submit-btn" />
            </form>
        </div>
    </div>
</div>

<script>

    {% if form.errors %}
    {% for field in form %}
    {% for error in field.errors %}
    alert('{{error}}')
    {% endfor %}
    {% endfor %}

    {% for error in form.non_field_errors %}
    alert('{{error}}')
    {% endfor %}

    {% endif %}



    $("#profileImage").click(function (e) {
        $("#imageUpload").click();
    });

    function fasterPreview(uploader) {
        if (uploader.files && uploader.files[0]) {
            $("#profileImage").attr(
                "src",
                window.URL.createObjectURL(uploader.files[0])
            );
        }
    }

    $("#imageUpload").change(function () {
        fasterPreview(this);
    });
</script>

{% endblock content %}