{% extends "base.html" %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/view_profile.css' %}">

<div class="wrap">
    <div class="floatleft">
        <br />
        <div id="profile-container">
            <img id="profileImage" src="{{user.avatar.url}}" />
        </div>
        <br />
        <br />
        <hr />
        <br />
        <p class="author">{{user.name}}</p>
        <br />
        <hr />
        <br />
        <br />
        <p id="about" style="font-size: 20px">{{user.about}}</p>
        <br />
        <hr />
        <br />
        <br />

        {% if user != current_user %}
        <div id="follow-ajax">
            {% if follows %}
            <div class="wrapper">
                <button id="follow">
                    <span class="ui-button-text">Unfollow</span>
                </button>
            </div>
            {% else %}
            <div class="wrapper">
                <button id="follow">
                    <span class="ui-button-text">Follow</span>
                </button>
            </div>
            {% endif %}
        </div>
        {% endif %}
    </div>

    <div class="floatright">
        {% if blogs %}

        {% for blog in blogs %}
        <h1 id="title">{{ blog.title }}</h1>
        <p>{{ blog.content | truncatewords_html:30 | safe}}</p>
        <br>
        <a id="link" style="color: green;" href="{% url 'view_blog' id=blog.id slug=blog.slug %}">Read More</a>
        <br />
        <br />
        <br />
        <hr id="line">

        <br>
        <br>
        <br>
        {% endfor %}
        {% else %}
        <h1 id="title">Ugh no blogs yet</h1>
        {% endif %}
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
    $("#follow").click(function () {
        $.ajax({
            type: "POST",
            url: "{% url 'follow' %}",
            data: {
                author: "{{ user.id }}",
                operation: "follow",
                csrfmiddlewaretoken: "{{ csrf_token }}",
            },
            dataType: "json",
            success: function (response) {
                if (response.follows) {
                    $('#follow span').text('Unfollow');
                } else {
                    $('#follow span').text('Follow');
                }
            },
        });
    });
</script>

{% endblock content %}