{% extends "base.html" %} {% block content %} {% load static %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<link rel="stylesheet" href="{% static 'css/view_blog.css' %}">


<div class="wrap">
    <div class="floatleft">
        <br />
        <div id="profile-container">
            <img id="profileImage" src="{{author.avatar}}" />
        </div>
        <br />
        <br />
        <hr />
        <br />
        <a style="color: white;" href="{% url 'view_profile' email=author.email %}">
            <p class="author" style="text-decoration: underline;">{{author.name}}</p>
        </a>
        <br />
        <hr />
        <br />
        <br />
        <p class="author" style="font-size: 20px">{{author.about}}</p>
        <br />
        <hr />
        <br />
        <br />

        {% if user != author %}
        <div id="follow-ajax">
            {% if follows %}
            <div class="wrapper">
                <button id="follow">
                    <span class="ui-button-text">Unfollow</span>
                </button>
            </div>
            {% else %}
            <div class="wrapper">
                <button id="follow">
                    <span class="ui-button-text">Follow</span>
                </button>
            </div>
            {% endif %}
        </div>
        {% endif %}

    </div>

    <div class="floatright">
        <h1 id="title">{{ blog.title }}</h1>
        <p>{{ blog.content | safe}}</p>
        <br />
        <br />

        {% if liked %}
        <a name="like" style="font-size: 48px; color: green" class="likin" id="co"><i class="fa fa-thumbs-up"
                aria-hidden="true"></i></a>
        {% else %}
        <a name="like" style="font-size: 48px; color: red" class="likin" id="co"><i class="fa fa-thumbs-up"
                aria-hidden="true"></i></a>
        {% endif %}

        <p class="author">Thoughts</p>
        <br />
        <br />
        <textarea name="comment" id="comment" cols="30" rows="5"></textarea>
        <br />
        <br />


        <a id="post-comment"><button class='submit-btn'>Post</button></a>
        <br />

        <br><br>

        <br>
        <div id="comments-list">
            {% if comments %}
            <p class="author">Responses</p>
            {% for comment in comments %}
            <div id='comment-list'>
                <p>{{comment.comment}}</p>
                <p style="float: right;">~ {{comment.author}}</p>
                <br>
                <p style="float: right;">{{comment.timestamp}}</p>
            </div>
            {% endfor %}
            {% else %}
            <p class="author">Ugh no responses yet!</p>
            {% endif %}
        </div>

    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
    // AJAX CALL
    $(".likin").click(function () {
        $.ajax({
            type: "POST",
            url: "{% url 'like' %}",
            data: {
                blog: "{{ blog.id }}",
                operation: "like_submit",
                csrfmiddlewaretoken: "{{ csrf_token }}",
            },
            dataType: "json",
            success: function (response) {
                if (response.liked == true) {
                    $(".likin").css("color", "green");
                } else if (response.liked == false) {
                    $(".likin").css("color", "red");
                }
            },
        });
    });


    $("#post-comment").click(function () {
        $.ajax({
            type: "POST",
            url: "{% url 'comment' %}",
            data: {
                operation: "comment_submit",
                blog: "{{blog.id}}",
                csrfmiddlewaretoken: "{{csrf_token}}",
                comment: $('#comment').val(),
            },
            dataType: "json",
            success: function (response) {
                $('#comments-list').empty();
                response.comments.forEach(comment => {
                    $('#comments-list').append(`

          <div id='comment-list'> 
          <p>${comment.comment}</p>
          <p style="float: right;">~  ${comment.author}</p>
            <br>
          <p style="float: right;">${comment.timestamp}</p>
        </div>
          `)
                });
                $('#comment').val('');
            },
        });
    });


    $("#follow").click(function () {
        $.ajax({
            type: "POST",
            url: "{% url 'follow' %}",
            data: {
                author: "{{ author.id }}",
                operation: "follow",
                csrfmiddlewaretoken: "{{ csrf_token }}",
            },
            dataType: "json",
            success: function (response) {
                console.log(response);
                if (response.follows) {
                    $('#follow span').text('Unfollow');
                } else {
                    $('#follow span').text('Follow');
                }
            },
        });
    });

</script>

{% endblock content %}