body {
    background-color: rgb(34, 47, 62);
}
.wrap {
    width: 100%;
}

.floatright {
    padding: 2%;
    float: right;
    background-color: white;
    width: 100%;
    color: rgb(34, 47, 62);
}

#title {
    font-size: 3vw;
    font-family: "Times New Roman", Times, serif;
    margin-left: 50px;
    align-self: center;
}

#co {
    margin-left: 40px;
}

hr {
    border: none;
    height: 1px;
    color: white;
    background-color: white;
    margin-left: 20px;
    margin-right: 20px;
}
