body {
    background-color: rgb(34, 47, 62);
}
.wrap {
    width: 100%;
}

.floatleft {
    float: left;
    width: 20%;
    background-color: rgb(34, 47, 62);
    color: white;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}

.floatright {
    padding: 2%;
    float: right;
    background-color: white;
    width: 80%;
    color: rgb(34, 47, 62);
}

#title {
    font-size: 3vw;
    font-family: "Times New Roman", Times, serif;
    margin-left: 50px;
    align-self: center;
}

#profile-container {
    margin-left: 30%;
    width: 100px;
    height: 100px;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    align-content: center;
    background-size: contain;
    background-position: center;
}

.author {
    align-content: center;
    justify-content: center;
    text-align: center;
    font-size: 30px;
}

#co {
    margin-left: 40px;
}

#profile-container img {
    position: relative;
    width: 100px;
    height: 100px;
    object-fit: cover;
}
hr {
    border: none;
    height: 1px;
    color: white;
    background-color: white;
    margin-left: 20px;
    margin-right: 20px;
}

#link {
    color: green;
}

#about {
    font-size: 1em;
    font-style: italic;
    padding: 10px;
    text-align: center;
}

#line {
    border: 0;
    clear: both;
    display: block;
    background-color: rgb(34, 47, 62);
    height: 5px;
}

.wrapper {
    text-align: center;
}
.button {
    position: absolute;
    top: 50%;
    background-color: rgb(34, 47, 62);
}

#follow {
    background-color: white;
    color: rgb(34, 47, 62);
    padding: 15px;
    border-radius: 20px;
    width: 50%;
    height: 30%;
}

#follow:hover {
    color: white;
    background-color: rgb(34, 47, 62);
    box-shadow: none;
}
